body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(240, 234, 234);
}
figcaption {
  font-size: smaller;
  text-align: center;
}
#featured-property > p {
  width: 800px;
}
div {
  float: left;
  background-color:beige;
  text-align: center;
  width: 25% bottom row'
}